@charset "UTF-8";

*{
	border: solid 1px black;
}



.col-md-offset-1.col-md-8 a{
	margin-right: 20px;
}

.col-md-4 a{
	margin-right: 10px;
}

.carousel-inner .carousel-item img{
	min-width: 100%;
	min-height: 100px;
}